<app-bottom-sheet-panel>
  <div bottomSheetPanelBody class="d-flex flex-column gap-4 p-0 mt-2">
    <div class="d-flex flex-column justify-content-center gap-3 px-4">
      <div class="d-flex align-items-center justify-content-center w-100">
        <img src="../../../../../../../../../assets/img/check-success.svg" alt="Success">
      </div>
      <h1 class="m-0 text-center text-gray-700">Antecipação Automática cancelada!</h1>
    </div>

    <div class="p-4 bg-gray-200">
      <p class="m-0 fs-6">
        Atenção: Todo o processo foi cancelado e os valores disponíveis podem ser distintos.
      </p>
    </div>

    <div class="d-flex align-items-center justify-content-center gap-2 w-100 mb-3">
      <button type="button"
              class="btn btn-outline-primary px-3 py-2 fs-5"
              (click)="onClose(false)">
        Fechar
      </button>
    </div>
  </div>
</app-bottom-sheet-panel>