<div class="login-page">
  <!-- HEADER -->
  <div class="login-header-container">
    <div class="login-header">
      <img src="assets/img/logo_transparent.svg" class="logo" alt="Logo" />
    </div>
  </div>

  <!-- CONTEÚDO -->
  <div class="login-content">
    <div class="login-card">
      <h1 class="title">Olá, Petlover ❤️</h1>

      <p class="subtitle">Para acessar, entre com sua conta</p>

      <form [formGroup]="form" (ngSubmit)="login()">
        <!-- EMAIL -->
        <div class="input">
          <input type="email" formControlName="email" placeholder=" " />
          <label>Email</label>

          <small
            *ngIf="form.controls.email.touched && form.controls.email.invalid"
          >
            Informe um email válido
          </small>
        </div>

        <!-- SENHA -->
        <div class="input">
          <div class="password-wrapper">
            <input
              [type]="showPassword ? 'text' : 'password'"
              formControlName="password"
              placeholder=" "
            />
            <label>Senha</label>

            <button
              type="button"
              class="toggle-password heart"
              [class.active]="showPassword"
              (click)="togglePassword()"
            >
              ❤️
            </button>
          </div>

          <!-- ERRO -->
          <small
            *ngIf="
              form.controls.password.touched &&
              form.controls.password.invalid &&
              !form.controls.password.value
            "
          >
            Senha é obrigatória
          </small>

          <!-- HINT -->
          <div
            class="password-hint"
            *ngIf="
              form.controls.password.value && form.controls.password.touched
            "
          >
            <p>🔐 Sua senha deve conter:</p>

            <ul>
              <li [class.valid]="form.controls.password.value.length >= 8">
                ✔ Pelo menos 8 caracteres
              </li>

              <li [class.valid]="hasUppercase(form.controls.password.value)">
                ✔ Letra maiúscula
              </li>

              <li [class.valid]="hasLowercase(form.controls.password.value)">
                ✔ Letra minúscula
              </li>

              <li [class.valid]="hasNumber(form.controls.password.value)">
                ✔ Número
              </li>

              <li [class.valid]="hasSpecialChar(form.controls.password.value)">
                ✔ Caractere especial
              </li>
            </ul>
          </div>
        </div>

        <!-- ERRO GERAL -->
        <div class="error-message" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>

        <!-- BOTÃO -->
        <button class="primary-btn" type="submit" [disabled]="isLoading">
          <span *ngIf="!isLoading">Continuar</span>
          <span *ngIf="isLoading">Entrando...</span>
        </button>
      </form>
    </div>
  </div>
</div>
