@import "./variables";

.cal-month-view .cal-header .cal-cell {
    text-transform: capitalize;
    font-weight: normal !important;
}

.cal-month-view .cal-day-cell.cal-today {
    background-color: $gray-400 !important;
}

.cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
    color: $secondary !important;
}

.cal-month-view .cal-day-cell.cal-today .cal-day-number {
    font-size: 1.2em !important;
}

.cal-month-view .cal-day-number {
    float: left !important;
    font-weight: bolder !important;
    color: black !important;
    margin-left: 0.4rem !important;
    margin-top: 0.5rem !important;
}

.cal-month-view .cal-day-cell {
    border: none !important;
}

.cal-month-view .cal-cell-row {
    margin-bottom: 0.2rem !important;
    box-shadow: 0 4px 2px -2px $gray-400 !important;
}

.cal-month-view .cal-days {
    border: none !important;
}

.cal-month-view .cal-day-cell {
    min-height: 0px !important;
}
