<div class="d-flex flex-column justify-content-center gap-2 pt-01">
  <div class="d-flex align-items-center justify-content-center w-100">
    <span class="material-symbols-outlined icon-color">check_circle</span>
  </div>
  <h1 class="dialog-title">
    <div class="p-1 fs-3">
      Autorização realizada com sucesso!
    </div>
  </h1>
</div>

<mat-dialog-content>
  <p class="p-1 attention">
    Agora você pode antecipar todas as suas vendas
    incluindo as realizadas em outras instituições
    financeiras. Além disso, as taxas são as mais
    competitiva do mercado.
  </p>
</mat-dialog-content>

<mat-dialog-actions align="center" class="pt-1">
  <button type="button" class="btn btn-outline-primary" (click)="onCloseClick()">
    Fechar
  </button>
</mat-dialog-actions>