@import "./../../../../../../assets/scss/variables";

.card {
  border: none;
}

.card-scheduled {
  min-height: 10rem !important;
  height: auto !important;
  margin-top: 1rem !important;
}

.ul-accreditations {
  list-style-type: circle !important;
}

.li-accreditations {
  padding-left: 0.5rem !important;
}

.w-4 {
  width: 4rem;
}

.list-prepayments {
  width: 10%;
  padding: 1rem;

  .list-group {
    .list-group-item {
      padding: 0.5rem 0;
      border: unset;
      padding-bottom: 0.5rem !important;
      padding-top: 0.5rem !important;

      .form-check-input:disabled {
        opacity: unset !important;
      }
    }
  }
}

.fs-bullet {
  font-size: 13px !important;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.icon-color {
  color: var(--bs-primary);
  width: auto;
  height: auto;
}

.mr-2 {
  margin-right: 2rem;
}

.card {
  height: 17rem;

  .card-body-available {
    padding-top: 6rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
    padding-left: 3rem;
  }

  .card-body-scheduled-2 {
    padding-top: 6rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
    padding-left: 3rem;
  }

  .card-body {

    .card-prepayment {

      .prepayment-icon-scheduled {
        padding-bottom: 1rem;

        .material-symbols-outlined {
          font-size: 35px;
        }
      }

      .prepayment-icon-scheduled-finalized {
        padding-bottom: 14rem;

        .material-symbols-outlined {
          font-size: 35px;
        }
      }

      .prepayment-icon-punctual {
        padding-bottom: 1rem;

        .material-symbols-outlined {
          font-size: 35px;
        }
      }
    }

    .container-btn-position {
      bottom: 11px;
      position: absolute !important;
    }

    .container {
      .btn-scheduled {
        width: 45%;
        height: 2rem;
      }

      .btn-scheduled-2 {
        width: 65%;
        font-size: 1rem;
        border-radius: 0.5rem !important;
      }

      .card-scheduled-2 {
        background: var(--bs-secondary);
        color: white;
        width: 9.5rem;
        padding-top: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        border-radius: 0.5rem;
      }
    }
  }
}

.fs-14 {
  font-size: medium !important;
}

.fs-1 {
  font-size: 1rem !important;
}

.fs-2 {
  font-size: 2rem !important;
}

.fs-30 {
  font-size: 30px !important;
}

.pl-5 {
  padding-left: 5rem !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.pr-05 {
  padding-right: 0.5rem !important;
}

.pr-09 {
  padding-right: 9px !important;
}

.pt-1 {
  padding-top: 1rem !important;
}