<app-bottom-sheet-panel [hasHeader]="true">
  <div bottomSheetPanelBody class="d-flex flex-column gap-4 p-1 mt-2">
    <div class="d-flex flex-column justify-content-center gap-3 px-4">
      <h1 class="m-0 text-center text-gray-700">Alteração de Senha</h1>
    </div>

    <hr />
    <div align="center">
      <h6>Preencha os campos abaixo, para alterar sua senha de acesso</h6>
    </div>

    <div class="change-password-container">
      <form [formGroup]="changePasswordForm">
        <div class="section fix-mat-form-field">
          <mat-form-field>
            <input
              matInput
              placeholder="Senha atual*"
              [type]="hideCurrentPwd ? 'password' : 'text'"
              formControlName="currentPassword"
              required
            />
            <mat-icon matSuffix (click)="hideCurrentPwd = !hideCurrentPwd">
              {{ hideCurrentPwd ? 'visibility_off' : 'visibility' }}</mat-icon
            >
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              placeholder="Nova senha*"
              #txtNewPwd
              [type]="hideNewPwd ? 'password' : 'text'"
              formControlName="newPassword"
              required
            />
            <mat-icon matSuffix (click)="hideNewPwd = !hideNewPwd">
              {{ hideNewPwd ? 'visibility_off' : 'visibility' }}
            </mat-icon>

            <mat-hint>
              <div class="list-checks">
                <ul class="list-group list-group-flush">
                  <li
                    class="list-group-item {{ txtNewPwd.value.length >= 1 ? 'valid' : 'invalid' }}"
                  >
                    Campo é obrigatório
                  </li>
                  <li
                    class="list-group-item {{ txtNewPwd.value.length >= 6 ? 'valid' : 'invalid' }}"
                  >
                    Minimo de caracteres: {{ minPw }}
                  </li>
                  <li
                    class="list-group-item {{
                      verifyHasLetter(changePasswordForm.value.newPassword) ? 'valid' : 'invalid'
                    }}"
                  >
                    Deve conter ao menos 1 letra
                  </li>
                  <li
                    class="list-group-item {{
                      verifyHasNumber(changePasswordForm.value.newPassword) ? 'valid' : 'invalid'
                    }}"
                  >
                    Deve conter ao menos 1 número
                  </li>
                  <li
                    class="list-group-item {{
                      verifyHasSpecialChars(changePasswordForm.value.newPassword)
                        ? 'valid'
                        : 'invalid'
                    }}"
                  >
                    Deve conter ao menos 1 caractere especial
                  </li>
                </ul>
              </div>
            </mat-hint>
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              placeholder="Confirmar nova senha*"
              #txtConfirmNewPwd
              [type]="hideConfirmNewPwd ? 'password' : 'text'"
              formControlName="confirmNewPassword"
              required
            />
            <mat-icon matSuffix (click)="hideConfirmNewPwd = !hideConfirmNewPwd">
              {{ hideConfirmNewPwd ? 'visibility_off' : 'visibility' }}
            </mat-icon>

            <mat-hint>
              <div class="list-checks">
                <ul class="list-group list-group-flush">
                  <li
                    *ngIf="txtConfirmNewPwd.value.length >= 1 && !isPasswordSame"
                    class="list-group-item invalid"
                  >
                    Senhas não conferem
                  </li>
                </ul>
              </div>
            </mat-hint>
          </mat-form-field>
        </div>
      </form>
    </div>
    <hr />

    <div class="d-flex align-items-end justify-content-end gap-2 mb-4">
      <button type="button" class="btn btn-outline-secondary" (click)="onCancelClick()">
        Cancelar
      </button>
      <button type="button" class="btn btn-primary" (click)="onSaveClick()">Salvar</button>
    </div>
  </div>
</app-bottom-sheet-panel>
