<app-bottom-sheet-panel>
  <div bottomSheetPanelHeaderTools>
    <h1>{{title}}</h1>
  </div>

  <div bottomSheetPanelBody>

    <mat-list>
      <mat-list-item *ngFor="let option of options; let i = index">
        <mat-slide-toggle color="primary"
                          [disableRipple]="true"
                          [checked]="option.selected"
                          (change)="onSelectOption(i)">
          <div class="label-content">
            <span class="fw-semibold">{{option.option}}</span>
            <span class="material-symbols-outlined text-secondary" *ngIf="getIcon(option.option)">{{getIcon(option.option)}}</span>
          </div>
        </mat-slide-toggle>
        <mat-divider></mat-divider>
      </mat-list-item>

    </mat-list>

  </div>

  <div bottomSheetPanelFooter>
    <button type="button"
            class="btn btn-primary w-100"
            (click)="onClose()">
      Selecionar
    </button>
  </div>
</app-bottom-sheet-panel>
