<app-toolbar-background></app-toolbar-background>

<ng-template #toolbarContent>
  <section class="toolbar-content">
    <a mat-button class="nav-link back" (click)="onNavigateBack()">
      <span class="material-symbols-outlined">arrow_back</span>
      <span class="title">Vendas</span>
    </a>

    <div class="spacer"></div>

    <button mat-icon-button class="toolbar-action toolbar-action-notification" aria-label="Notifications menu"
      (click)="onNotificationClick()">
      <span class="material-symbols-outlined">notifications</span>
      <span class="position-absolute translate-middle badge rounded-pill" *ngIf="unreadedNotificationsCount > 0">
        {{unreadedNotificationsCount < 9 ? unreadedNotificationsCount : '9+' }} <span class="visually-hidden">unread
          messages</span>
      </span>
    </button>

    <button mat-icon-button class="toolbar-action select-establishments" aria-label="Select establishments"
      (click)="onSelectEstablishment()">
      <span class="material-symbols-outlined">store</span>
      <span class="position-absolute translate-middle badge rounded-pill" *ngIf="selectedEstablishments.length > 0">
        {{selectedEstablishments.length < 100 ? selectedEstablishments.length : '99+' }} <span class="visually-hidden">
          unread messages</span>
      </span>
    </button>

    <button mat-icon-button class="toolbar-action toggle-visibility" aria-label="Toggle visibility"
      (click)="onToggleVisibility()">
      <span class="material-symbols-outlined" *ngIf="visibilityOn; else visibility_off">visibility_off</span>

      <ng-template #visibility_off>
        <span class="material-symbols-outlined">visibility</span>
      </ng-template>
    </button>

    <button mat-icon-button class="toolbar-action signout" aria-label="Signout" (click)="onOpenMyDataDialog()">
      <span class="material-symbols-outlined">person</span>
    </button>

  </section>
</ng-template>

<div class="mx-4 pb-4 mh-100">

  <div class="filters d-flex justify-content-start align-items-center gap-2 w-100 overflow-auto">
    <button class="btn btn-primary bg-primary-400 text-nowrap d-flex align-items-center gap-2"
      (click)="sidenavService.open(periodFilterRef)">
      <span class="material-symbols-outlined text-white">today</span>
      <span class="lh-1 text-white">{{filter.range.start | date:'dd/MM/yyyy'}} - {{filter.range.end |
        date:'dd/MM/yyyy'}}</span>
    </button>

    <button class="btn btn-primary bg-primary-400 text-nowrap d-flex align-items-center gap-2"
      (click)="onChangeCardBrands()">
      <span class="material-symbols-outlined text-white">credit_card</span>
      <span class="lh-1 text-white">Bandeiras</span>
    </button>

    <button class="btn btn-primary bg-primary-400 text-nowrap d-flex align-items-center gap-2"
      (click)="onChangePaymentTypes()">
      <span class="material-symbols-outlined text-white">payments</span>
      <span class="lh-1 text-white">Pagamento</span>
    </button>

    <button class="btn btn-primary bg-primary-400 text-nowrap d-flex align-items-center gap-2"
      (click)="onChangeStatus()">
      <span class="material-symbols-outlined text-white">done</span>
      <span class="lh-1 text-white">Status</span>
    </button>

    <button class="btn btn-primary bg-primary-400 text-nowrap d-flex align-items-center gap-2"
      (click)="onChangeTimer()">
      <span class="material-symbols-outlined text-white">timer</span>
      <span class="lh-1 text-white">Hora da Venda</span>
    </button>

    <button class="btn btn-primary bg-primary-400 text-nowrap d-flex align-items-center gap-2" (click)="onChangeNsu()">
      <span class="material-symbols-outlined text-white">123</span>
      <span class="lh-1 text-white">Identificação</span>
    </button>
  </div>

  <div class="summary">
    <div class="card mt-4">
      <div class="card-body d-flex align-items-center gap-2">

        <div class="card-content d-flex justify-content-between align-items-center w-100">
          <div class="content-info d-flex flex-column justify-content-end gap-2 text-gray-900">
            <span class="info-label text-uppercase">total das vendas</span>

            <div class="info-text lh-1 d-flex align-items-end gap-2 fs-3">
              <span class="info-label mr-5"><small>R$</small></span>
              <span class="info-currency-qtd-1" *ngIf="visibilityOn; else hidden_sale_amount">{{totalAmount || 0 |
                number:'1.2-2' }}</span>

              <ng-template #hidden_sale_amount>
                <span class="lh-1">{{totalAmount || 0 | hiddenValue:'&lowast;':5 }}</span>
              </ng-template>
            </div>

            <div class="info-text lh-1 d-flex align-items-end gap-2 fs-3">
              <span class="info-label"><small>QTD</small></span>
              <span class="info-currency-qtd-2" *ngIf="visibilityOn ; else hidden_sale_qtd">{{totalCount}}</span>

              <ng-template #hidden_sale_qtd>
                <span class="lh-1">{{totalCount | hiddenValue:'&lowast;':5 }}</span>
              </ng-template>
            </div>
          </div>

          <div class="card-actions card-icon d-flex align-items-center">
            <button type="button" class="btn btn-secondary btn-sm card-action" (click)="onSummaryDetail()">
              detalhes
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="details-header">
    <div class="view-mode">
      <mat-button-toggle-group class="rounded-pill" name="filter-period" aria-label="Período"
        [formControl]="viewModeControl">
        <mat-button-toggle value="daily">Diário</mat-button-toggle>
        <mat-button-toggle value="weekly">Semanal</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="view-ordering" *ngIf="!!filteredSalesDaily && filteredSalesDaily.length > 0">
      <button mat-icon-button class="btn-ordering btn btn-sm text-nowrap d-flex align-items-center"
        (click)="onClickOrdering(); $event.stopPropagation()">
        <span class="info-label">Data da venda</span>
        <mat-icon iconPositionEnd *ngIf="viewOrdering === 'asc'">arrow_downward</mat-icon>
        <mat-icon iconPositionEnd *ngIf="viewOrdering === 'desc'">arrow_upward</mat-icon>
      </button>
    </div>

  </div>

  <div class="details">
    <app-daily-view *ngIf="viewMode === 'daily'; else weeklyView" [sales]="filteredSalesDaily"
      [visibilityOn]="visibilityOn" (detail)="onOpenDetailSale($event)">
    </app-daily-view>

    <ng-template #weeklyView>
      <app-sales-weekly-view [sales]="filteredSalesWeekly" [visibilityOn]="visibilityOn"
        (salesEmitter)="goToSales($event)">
      </app-sales-weekly-view>
    </ng-template>
  </div>

  <ng-template #periodFilterRef>
    <app-period-filter-dialog [initialRange]="filter.range" [maxDate]="today" (confirm)="onChangeDateRange($event)"
      (cancel)="sidenavService.close()">
    </app-period-filter-dialog>
  </ng-template>

  <ng-template #saleDetailRef>
    <app-sale-detail-dialog *ngIf="detailedSale" [sale]="detailedSale" [visibilityOn]="visibilityOn"
      (close)="onCloseDetailSale()">
    </app-sale-detail-dialog>
  </ng-template>
</div>