.preview {
  max-width: 200px;
}

.file-input {
  display: none;
}

.card {
  border: none;
}

.btn-actions {
  width: 2rem;
  height: 2rem;
  padding: 3px;
  margin-left: 1rem;
}

.pl-0 {
  padding-left: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}