.card {
  border: none;
}

.dv-lbl-filter {
  display: table;
}

.lbl-filter {
  display: table-cell;
  vertical-align: middle !important;
  text-align: left;
}

.pl-5 {
  padding-left: 5rem !important;
}

.whats-img {
  width: 10%;
}

.section-actions {
  overflow: auto;

  table {
    width: 40%;
    float: right;
  }
}

.mt-1 {
  margin-top: 1rem !important;
}

.heading {
  padding-top: 1rem;
}

.pt-1 {
  padding-top: 1rem !important;
}
