:host {
  .mt-08 {
    margin-top: 0.8rem !important;
  }

  .card {
    height: 6rem;
    border-color: var(--bs-light);
    background: var(--bs-gray-200);

    .word-break {
      word-break: normal;
    }

    .list {
      width: 90%;
      background: var(--bs-gray-200);

      .list-group {
        border: none !important;

        .list-group-item {
          border: none !important;
          padding: 0px;
          background: var(--bs-gray-200);

          &:first-child {
            font-weight: bold;
          }
        }
      }
    }

    .card-body {

      .card-rates-fees {
        .container {
          padding-left: 0px;
        }

        .rates-fees-icon {
          padding-bottom: 1rem;

          .material-symbols-outlined {
            font-size: 35px;
          }
        }

        .fs-14 {
          font-size: 14px !important;
        }

        .pr-2 {
          padding-right: 2rem;
        }

        .pr-10 {
          padding-right: 10rem;
        }
      }
    }
  }
}