:host {

  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

  ::ng-deep .mdc-button {
    &.establishment-selector {
      .mdc-button__label {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
        padding-right: 5px;
      }
    }
  }

  ::ng-deep header .mat-toolbar .toolbar-content .nav-link.back .mdc-button__label .title {
    font-size: 13px !important;
  }

  .fs-13 {
    font-size: 13px !important;
  }

  .prepayment-title {
    text-align: center;
  }

  .pt-3 {
    padding-top: 3rem !important;
  }

  .mt-08 {
    margin-top: 0.8rem !important;
  }
}