<ng-template #toolbarContent>
  <section class="toolbar-content">
    <a mat-button class="nav-link back" (click)="onNavigateBack()">
      <span class="material-symbols-outlined">arrow_back</span>
      <span class="title fs-13" style="font-size: 13px;">Condições Comerciais</span>
    </a>

    <div class="spacer"></div>

    <button mat-icon-button
            class="toolbar-action toolbar-action-notification"
            aria-label="Notifications menu"
            (click)="onNotificationClick()">
      <span class="material-symbols-outlined">notifications</span>
      <span class="position-absolute translate-middle badge rounded-pill" *ngIf="unreadedNotificationsCount > 0">
        {{unreadedNotificationsCount < 9 ? unreadedNotificationsCount : '9+' }}
          <span class="visually-hidden">unread messages</span>
      </span>
    </button>

    <button mat-icon-button
            class="toolbar-action select-establishments"
            aria-label="Select establishments"
            (click)="onSelectEstablishment()">
      <span class="material-symbols-outlined">store</span>
      <span class="position-absolute translate-middle badge rounded-pill" *ngIf="selectedEstablishments.length > 0">
        {{selectedEstablishments.length < 100 ? selectedEstablishments.length : '99+' }}
          <span class="visually-hidden">unread messages</span>
      </span>
    </button>

    <button mat-icon-button
            class="toolbar-action toggle-visibility"
            aria-label="Toggle visibility"
            (click)="onToggleVisibility()">
      <span class="material-symbols-outlined" *ngIf="visibilityOn; else visibility_off">visibility_off</span>

      <ng-template #visibility_off>
        <span class="material-symbols-outlined">visibility</span>
      </ng-template>
    </button>

    <button mat-icon-button
            class="toolbar-action signout"
            aria-label="Signout"
            (click)="onOpenMyDataDialog()">
      <span class="material-symbols-outlined">person</span>
    </button>

  </section>
</ng-template>

<div class="mx-4 pb-4">

  <button mat-raised-button
          class="establishment-selector w-100 mt-2 rounded-pill"
          (click)="onSelectEstablishments()">
    <span class="material-symbols-outlined text-secondary">add_business</span>
    <span class="text-dark">
      {{ !!selectedEstablishmentName ? selectedEstablishmentName : 'Selecione estabelecimentos'}}
    </span>
    <div class="spacer"></div>
  </button>

  <app-commercial-terms-scheduled-active-card *ngIf="!!scheduledFinalized && !!scheduledFinalized.id"
                                              [hasSelectedEstablishment]="hasSelectedEstablishment"
                                              [scheduledFinalized]="scheduledFinalized"
                                              (edit)="onEditScheduledFinalizedClick($event)"
                                              (cancel)="onCancelScheduledFinalizedClick($event)">
  </app-commercial-terms-scheduled-active-card>
</div>