<h1 mat-dialog-title class="dialog-title">
  <span class="material-symbols-outlined text-green icon-color ">task_alt</span>

  <div class="p-1 fs-3">
    Antecipação programada realizada com sucesso!
  </div>
</h1>

<p class="p-1 attention">
  Será antecipado apenas os valores disponíveis e que
  não ultrapassem o total das agendas escolhidas.
</p>

<mat-dialog-actions align="center" class="pt-1 pb-02">
  <button type="button" class="btn btn-primary mr-05" (click)="onClose()">
    Fechar
  </button>
</mat-dialog-actions>