@import "./../../../../../../assets/scss/variables";

.calendar-card {

  .calendar-month {
    text-transform: capitalize;
    text-align: center;
    margin: 0px;
    color: var(--bs-primary);
    font-size: 1.7rem;
    font-weight: bolder;
    border: unset;
  }

  .material-icons {
    font-size: 17px;
    color: var(--bs-gray-500);
    border: none;
    --bs-btn-border-radius: none;
  }

  .wd-year {
    width: 6rem;
  }

  .lbl-sales {
    color: var(--bs-gray-600);
  }

  .hr-tot {
    opacity: unset;
  }

  .btn-export {
    padding-top: 0.1rem;
    padding-right: 2rem;
    padding-bottom: 0.1rem;
    padding-left: 2rem;
    margin-right: 0px !important;
  }

  .first-col {
    width: 7.9rem;
  }

  .table> :not(:first-child) {
    border-top: unset;
    border-style: hidden;
  }

  .lbl-day-calendar {
    margin: 5px;
    font-size: 1.1em;
  }

  .p-08 {
    padding: 0.6rem;
    padding-bottom: 0px;
  }

  .cal-month-view .cal-cell-top {
    min-height: 52px;
  }

  .cal-day-selected {
    background-color: var(--bs-primary-100) !important;
  }

  .cal-day-selected:hover {
    background-color: var(--bs-primary-200) !important;
  }

  .cal-month-view .cal-day-cell.cal-today:not(.cal-day-selected) {
    background-color: var(--bs-primary-100) !important;
  }

  .bdr-none {
    border: none !important;
    border-style: hidden !important;
  }
}