<h1 mat-dialog-title>
  <mat-icon matSuffix class="icon-color">mobile_friendly</mat-icon> <br />

  <div class="p-1-title">
    Reforce sua Segurança!
  </div>
</h1>

<mat-dialog-content>

  <p class="p-1">
    Ative a Autenticação de Segurança
    para garantir mais segurança nas
    suas transações financeiras. É bem rápido,
    vamos lá?
  </p>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button type="button"
          class="btn btn-outline-primary"
          (click)="onCancelClick()">
    Lembrar mais tarde
  </button>
  <button type="button"
          class="btn btn-primary"
          (click)="onActivateClick()">
    Ativar MFA
  </button>
</mat-dialog-actions>
