<div class="card mt-08" (click)="goToNotificationPermissions()">
  <div class="card-body d-flex flex-column align-items-center gap-2">

    <div class="card-notification w-100 d-flex align-items-center justify-content-start gap-2">
      <div class="notification-icon d-flex align-items-center">
        <span class="material-symbols-outlined text-secondary">check_box</span>
      </div>

      <div class="notification-content d-flex justify-content-between align-items-center w-100">
        <div class="content-info d-flex flex-column justify-content-end gap-2 text-gray-900">

          <div class="container">
            <div class="row">
              <div class="col-7 pr-2">

                <div class="list">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <span class="info-label fs-14 word-break"><b>Permissão Notificação</b>
                      </span>
                    </li>
                    <li class="list-group-item">
                      <span class="info-label word-break">
                        Gerencie as permissões de notificações
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
