<div class="prepayment-content d-flex justify-content-between align-items-center w-100">
  <div class="list">
    <ul class="list-group list-group-flush">
      <li class="list-group-item p-0">
        <span class="info-label text-uppercase text-primary fs-14">
          Operação disponível somente em dias úteis.
        </span>
      </li>
      <li class="list-group-item p-0">
        <span class="info-label text-uppercase text-primary fs-14 fw-bolder">
          das 9h às 16:00
        </span>
      </li>
    </ul>
  </div>
</div>