<div class="d-flex flex-column gap-4 p-0 mt-3">

  <div class="d-flex flex-column justify-content-center gap-3 px-4">
    <div class="d-flex align-items-center justify-content-center w-100">
      <img src="../../../../../../../../../assets/img/check-success.svg" alt="Attention">
    </div>
    <h2 class="m-0 text-center text-gray-700">
      Ativação de autenticação de 2 fatores realizada com sucesso!
    </h2>
  </div>
  <div class="p-4 bg-gray-200">
    <p class="m-0 fs-6">
      Pronto! Sua conta e suas transações financeiras estão ainda mais seguras. Lembre-se de nunca compartilhar os
      códigos que receber.
      <b>
        Caso precise alterar o número de telefone cadastrado, entre em contato com nossa central.
      </b>
    </p>
  </div>

  <div class="d-flex align-items-center justify-content-center gap-2 w-100 mb-4">
    <button type="button" class="btn btn-outline-primary px-3 py-2 fs-5" (click)="onCloseClick()">
      Fechar
    </button>
    <button type="button" class="btn btn-primary px-3 py-2 fs-5" (click)="onCompletedClick()">
      Receba suas vendas antes
    </button>
  </div>
</div>