<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="Content-Security-Policy" value="connect-src *; style-src-elem * 'self' 'unsafe-inline' 'unsafe-eval'; frame-src 'self' 'unsafe-inline' 'unsafe-eval'" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Strict-Transport-Security" value="max-age=31536000" />
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/portal-do-cliente/" />
        </rule>
      </rules>

      <outboundRules>
        <rule name="Use only secure cookies" preCondition="Unsecured cookie">
          <match serverVariable="RESPONSE_SET_COOKIE" pattern="." negate="false" />
          <action type="Rewrite" value="{R:0}; secure" />
        </rule>
        <rule name="Add HttpOnly" preCondition="Missing httpOnly cookie">
          <match serverVariable="RESPONSE_Set_Cookie" pattern="." negate="false" />
          <action type="Rewrite" value="{R:0}; HttpOnly" />
        </rule>
        <rule name="Ensure samesite Cookies" preCondition="Missing samesite cookie">
          <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" negate="false" />
          <action type="Rewrite" value="{R:0}; SameSite=lax" />
        </rule>
        <preConditions>
          <preCondition name="Unsecured cookie">
            <add input="{RESPONSE_SET_COOKIE}" pattern="." />
            <add input="{RESPONSE_SET_COOKIE}" pattern="; secure" negate="true" />
          </preCondition>
          <preCondition name="Missing httpOnly cookie">
            <!-- Don't remove the first line! -->
            <add input="{RESPONSE_Set_Cookie}" pattern="." />
            <add input="{RESPONSE_Set_Cookie}" pattern="; HttpOnly" negate="true" />
          </preCondition>
          <preCondition name="Missing samesite cookie">
            <!-- Don't remove the first line here, it does do stuff! -->
            <add input="{RESPONSE_Set_Cookie}" pattern="." />
            <add input="{RESPONSE_Set_Cookie}" pattern="; SameSite=lax" negate="true" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
  </system.webServer>
  <system.web>
    <httpRuntime enableVersionHeader="false" />
    <httpCookies httpOnlyCookies="true" sameSite="Strict" requireSSL="true" />
  </system.web>

</configuration>
