:host {
  .card {
    border-color: var(--bs-light);
    background: var(--bs-gray-200);

    .card-body {

      .update-icon {
        font-size: 30px !important;
      }

      .card-actions {
        .card-action {
          border-radius: 7px;
        }
      }
    }
  }
}